- wrap_layout :layout do
  %div
    %article{role: "article"}
      %header
        %h1.entry-title= current_page.data.title
        %p.meta
          %time{"data-updated" => "true", datetime: current_page.data.date, pubdate: ""}= current_page.data.date
      = yield
      %footer
        %p.meta
          %time{"data-updated" => "true", datetime: current_page.data.date, pubdate: ""}= current_page.data.date
        .sharing
          %a.twitter-share-button{"data-counturl" => current_page.url, "data-url" => current_page.url, "data-via" => "evtuhovich", href: "http://twitter.com/share"} Tweet
          .fb-like{"data-send" => "true", "data-show-faces" => "false", "data-width" => "450"}
    %section
      %h1 Комментарии
      #disqus_thread{"aria-live" => "polite"}
        %noscript
          Please enable JavaScript to view the
          %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.

  - content_for :disqus do
    :javascript
      var disqus_shortname = 'blog-evtuhovich';
      // var disqus_developer = 1;
      var disqus_identifier = '#{site_url}#{current_page.url}';
      var disqus_url = '#{site_url}#{current_page.url}';
      var disqus_script = 'embed.js';
      (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      }());
