<% wrap_layout :default do %>
  <div>
    <article class="hentry" role="article">
      <header>
        <h1 class="entry-title"><a href="<%= current_page.url %>"><%= current_page.data.title%></a></h1>
          <p class="meta">
            <time datetime="<%= current_page.date %>" pubdate><%= current_page.date.strftime('%Y-%m-%d') %></time>
             | <a href="#disqus_thread">Комментарии</a>
          </p>
      </header>
      <div class="entry-content"><%= current_page.body %></div>
      <footer>
        <p class="meta">
          <span class="byline author vcard">Автор <span class="fn">Иван Евтухович</span></span>
          <time datetime="<%= current_page.date %>" pubdate><%= current_page.date.strftime('%Y-%m-%d') %></time>
          <span class="categories">
            <% current_article.tags.each do |category| %>
              <%= tag_url category %>
            <% end %>
          </span>
        </p>

        <%= partial 'sharing' %>

      </footer>
    </article>
    <section>
      <h1>Комментарии</h1>
      <div id="disqus_thread" aria-live="polite"><%= partial 'disqus_thread' %></div>
    </section>
  </div>
<% end %>
