---
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title><![CDATA[Технические заметки одного Евтуховича]]></title>
  <link href="<%= site_url %>/atom.xml" rel="self"/>
  <link href="<%= site_url %>/"/>
  <updated>{{ site.time | date_to_xmlschema }}</updated>
  <id><%= site_url %>/</id>
  <author>
    <name><![CDATA[Иван Евтухович]]></name>
    <email><![CDATA[evtuhovich@gmail.com]]></email>
  </author>
  <generator uri="http://middlemanapp.com/">Middleman</generator>

  <% blog('blog').articles[0..5].each do |post| %>
    <entry>
      <title type="html"><![CDATA[<%= post.title %>]]></title>
      <link href="<%= site_url %><%= post.url %>"/>
      <updated><%= post.date %></updated>
      <id><%= site_url %><%= post.url %></id>
      <content type="html"><![CDATA[<%= post.body %>]]></content>
    </entry>
  <% end %>
</feed>
