---
layout: default
pageable: true
per_page: 10
---

- content_for :menu do
  = partial :menu, :locals => { :page => 'blog' }

%section.text-section
  %h1 блог
  - page_articles('blog').each_with_index do |article, i|
    %article.post
      .info-box
        %strong.date= article.date.strftime('%d %m %Y')
        %strong= article.data.author
      .text-holder
        %h2= article.title
        = article.summary

        = link_to 'Читать дальше', article.url
